name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build and release binary
        uses: dhth/composite-actions/.github/actions/goreleaser@bec098cbb2a38c32be86a356d8de1da9e36c7503 # main
        with:
          gh-token: ${{secrets.GH_PAT}}
